<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>My Skills</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>My Skills</h1>
    <ul>
        <a href="/skills/new">Add a New Skill</a>
        <% skills.forEach(function(sk) {%>
            <li>
                <form action="/skills/<%= sk.id %>?_method=DELETE"
                    class="delete-form" method="POST">
                    <button type="submit">X</button>
                </form>

                <a href="/skills/<%= sk.id%>"><%= sk.skill %></a>
                <!-- <%= sk.skill %> -->
                - <%= sk.mastery ? 'Mastered' : 'Not Mastered' %>
            </li>
        <% }); %>
    </ul>
</body>
</html>